.search-container {
    color: white;
    width: 40%;
}

.search-form {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.search-input {
    padding: 0 10% 0 2%;
    height: 50%;
    width: 100%;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
}